<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>Address Book</title>
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/neat.css">
</head>
<body>

  <div class="container" ng-controller="ContactsController as contactsCtrl">
    <h1>Address Book</h1>
    <a class="btn btn-primary" href="/#/new">New Contact</a>

    <form name="contactForm" ng-submit="contactForm.$valid && contactsCtrl.addNewContact(contact)">
      <div class="form-group" ng-class="{'has-error':!contactsCtrl.newContact.name}">
        <label class="control-label" for="name">Name</label>
        <input class="form-control" type="text" id="name" ng-model="contactsCtrl.newContact.name" required>
      </div>
      <div class="form-group" ng-class="{'has-error':!contactsCtrl.newContact.phone}">
        <label class="control-label" for="phone">Phone</label>
        <input class="form-control" type="tel" id="phone" ng-model="contactsCtrl.newContact.phone">
      </div>
      <div class="form-group" ng-class="{'has-error':!contactsCtrl.newContact.address}">
        <label class="control-label" for="address">Address</label>
        <input class="form-control" type="text" id="address" ng-model="contactsCtrl.newContact.address">
      </div>
      <div class="form-group" ng-class="{'has-error':!contactsCtrl.newContact.email}">
        <label class="control-label" for="email">E-mail</label>
        <input class="form-control" type="email" id="email" ng-model="contactsCtrl.newContact.email">
      </div>
      <input type="submit" value="Add Contact" ng-show="contactForm.$valid">
    </form>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Phone</th>
          <th>Address</th>
          <th>E-mail</th>
        </tr>
        <thead>
          <tbody>
            <tr ng-repeat="(contactId, contact) in contactsCtrl.contacts">
              <td>{{contact.name}}</td>
              <td>{{contact.phone}}</td>
              <td>{{contact.address}}</td>
              <td>{{contact.email}}</td>
              <td><button ng-click="contactsCtrl.removeContact(contactId)">Delete</button></td>
            </tr>
          </tbody>
          <div ng-view></div>
        </table>
      </div>
      <script src="bower_components/jquery/dist/jquery.min.js"></script>
      <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="bower_components/angular/angular.min.js"></script>
      <script src="bower_components/angular-route/angular-route.min.js"></script>
      <script src="scripts/main.js"></script>
    </body>
    </html>
